<style>
#contactpage {
    height:300px;
   width: 400px;
    border-bottom: 2px solid #efefef;
    border-top: 2px solid #efefef;
    margin: 100px;
    padding-bottom: 10px;
}

#text {
    color: #BDBDBD;
    font-size: 75%;
}

</style>