<style>

html {
    background-color: white;
}

#header {
    color:white;
    text-align:center;
}

#welcome {
    color:gray;
    font-size: 60;
    font-style: block;
    padding-bottom: 15px;
}

#button {
    background-color: green;
}

#column-left {
    line-height:30px;
  /*  background-color:#eeeeee;*/
    height:100%;
    width: 33.3%;
    float:left;

}
#column-center {
    height:300px;
    width:33.3%;
    display: inline-block;
  /*  padding:10px; */
    text-align: center;
}

#column-right {
    line-height:30px;
    height:100%;
    width: 33.3%;
    float:right;
}

#hobbies {
    border-style: double;
    border-color: gray;
   text-align: center;
   font-style: bold;
   font-size: 30px;
}

#footer {
    background-color:#eeeeee;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

nav li {
  display: inline;
  margin-right: 15px;
  color: white;
}

.img { 
    text-align: center;
}

#image1 {
    width: 80%;
}

#form1 { 
    text-align: left;
}

#contact-para {
    text-align: left;
    line-height: 1.2em;
    width: 50%;
}

#h1 {
    vertical-align: middle;
    text-align: center;
    font-size: 60;
    font-style: block;
    color: #BDBDBD;
  /*  padding-bottom: 1px;*/
    font-family: "proxima-nova";
    line-height: 1em;
    letter-spacing: 0px;
    font-weight: 400;
}

#h2 {
    vertical-align: middle;
    text-align: center;
    font-size: 30;
    color: #BDBDBD;
    padding-bottom: 10px;
    font-family: "proxima-nova";
    line-height: 1em;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
}

#para1 {
    text-align: center;
    color: #BDBDBD;
    font-family: Cabin,Helvetica,Arial,sans-serif;
    font-weight: normal;
    line-height: 1.8em;
    font-family: "proxima-nova";
    line-height: 1.7em;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
</style>

